@model FlyAir.Models.FlightModels.AddFlightVM

@{
    ViewData["Title"] = "AddFlight";
}

<div class="container">
    <h2>Add New Flight</h2>
    <div class="row">
        <div class="col-md-4">
            <form asp-action="AddFlight" asp-controller="Admin" method="post">
                @Html.AntiForgeryToken()
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label class="control-label">Origin Country</label>
                    <select class="form-control" asp-for="OriginCountryID" asp-items="@Model.Countries">
                        <option value="null" selected>-- Please select one --</option>
                    </select>
                    <span asp-validation-for="OriginCountryID" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Origin City</label>
                    <select class="form-control" asp-for="Flight.OriginLocID" id="originCitySelect"></select>
                    <span asp-validation-for="Flight.OriginLocID" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Destination Country</label>
                    <select class="form-control" asp-for="DestCountryID" asp-items="@Model.Countries">
                        <option selected>-- Please select one --</option>
                    </select>
                    <span asp-validation-for="DestCountryID" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Destination City</label>
                    <select class="form-control" asp-for="Flight.DestLocID" id="destCitySelect"></select>
                    <span asp-validation-for="Flight.DestLocID" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DepartDate" class="control-label"></label>
                    <input asp-for="DepartDate" class="form-control" required />
                    <span asp-validation-for="DepartDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DepartTime" class="control-label"></label>
                    <input asp-for="DepartTime" class="form-control" required />
                    <span asp-validation-for="DepartTime" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="ArrDate" class="control-label"></label>
                    <input asp-for="ArrDate" class="form-control" required />
                    <span asp-validation-for="ArrDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ArrTime" class="control-label"></label>
                    <input asp-for="ArrTime" class="form-control" required />
                    <span asp-validation-for="ArrTime" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Flight.Price" class="control-label"></label>
                    <input asp-for="Flight.Price" class="form-control" />
                    <span asp-validation-for="Flight.Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>


@section scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script src="~/js/Admin/addFlight.js"></script>
}
