@model FlyAir.Models.StaffModels.Steward

@{
    ViewData["Title"] = "AddSteward";
}

<h2>AddSteward</h2>

<h4>Steward</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddSteward">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="StaffID" type="hidden" value="@Model.StaffID" />
            <div class="form-group">
                <label asp-for="StewardLicence" class="control-label"></label>
                <input asp-for="StewardLicence" class="form-control" />
                <span asp-validation-for="StewardLicence" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}