@model FlyAir.Models.StaffModels.StaffVM

@{
    ViewData["Title"] = "AddStaff";
}



<div class="container-fluid">
    <h4>Add New Staff</h4>
    <div class="col-md-4">
        <form asp-action="AddStaff">
            <input type="hidden" asp-for="tempUserid" value="@Model.tempUserid" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfBirth" class="control-label"></label>
                <input asp-for="DateOfBirth" class="form-control"/>
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StaffTypeID" class="control-label"></label>
                <select class="form-control" asp-for="StaffTypeID" asp-items="@Model.StaffTypesList">
                    <option selected value="">-- Please select one --</option>
                </select>
                <span asp-validation-for="StaffTypeID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}

