
@{
    ViewData["Title"] = "Dashboard";
}

<link rel="stylesheet" href="~/css/dashboard.css">

<style>
    .one {
        margin-bottom: 10px;
    }

        .one a {
            width: 500px;
            height: 50px;
        }
</style>

<div class="container">
    <h2>Admin Dashboard</h2>

    <div class="col-md-12 one">
        <a asp-controller="Admin" asp-action="ViewAllFlights" class="btn btn-info">View All Flights</a>
    </div>
    <div class="col-md-12 one">
        <a asp-controller="Admin" asp-action="ViewAllStaffs" class="btn btn-warning">View All Staffs</a>
    </div>
    <div class="col-md-12 one">
        <a asp-controller="Admin" asp-action="ViewAllPlanes" class="btn btn-info">View All Planes</a>
    </div>
    <div class="col-md-12 one">
        <a asp-controller="Account" asp-action="ViewRoles" class="btn btn-warning">Manage Roles</a>
    </div>
</div>