
/*=============== table =================*/
.tblRow {
    background-color: #f0f0f0;
}

.tblRowHighlight {
    background-color: var(--myGreen);
    font-weight: bold;
}

table {
    /*to provide space between table cells.*/
    border-collapse: separate;
    border-spacing: 0 1em;
}


/* ======== Checkbox   ===============*/
.chkBoxWrapper label {
    cursor: pointer;
}
.chkBoxWrapper input[type=radio] {
    display: none;
}

.customChkBox {
    margin: 0 auto;
    display: block;
    height: 20px;
    width: 20px;
    background-color: none;
    position: relative;
}

.customChkBoxBorder {
    border: solid 1px red;
}

/* On mouse-over, add a grey background color */
.chkBoxWrapper input[type=radio]:hover ~ .customChkBox {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.chkBoxWrapper input[type=radio]:checked ~ .customChkBox {
    /*background-color: #2196F3;*/
}
/* Create the checkmark/indicator (hidden when not checked) */
.customChkBox:after {
    content: "";
    position: absolute;
    display: none;
}

.chkBoxWrapper input[type=radio]:checked ~ .customChkBox::after {
    display: block;
}

.chkBoxWrapper .customChkBox::after {
    /*left: 0px;*/
    /*top: 0px;*/
    bottom: 2px;
    width: 20px;
    height: 35px;
    border: solid red;
    border-width: 0 8px 8px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/*====== pop up ===========*/
body{
    position: relative;
}
/* Popup container - can be anything you want */
.popup {
    position: fixed;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    right: 20vw;
    bottom: 17vh;
}

    /* The actual popup */
    .popup .popuptext {
        visibility: hidden;
        width: 300px;
        background-color: dodgerblue;
        color: #fff;
        text-align: center;
        border-radius: 0px;
        padding: 8px 0;
        position: absolute;
        z-index: +1;
        bottom: 125%;
        left: 50%;
        margin-left: -80px;
    }

        /* Popup arrow */
        .popup .popuptext::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: #555 transparent transparent transparent;
        }

    /* Toggle this class - hide and show the popup */
    .popup .show {
        visibility: visible;
        -webkit-animation: fadeIn 1s;
        animation: fadeIn 1s;
    }

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/*============ slick ================*/
.slick-prev,
.slick-next {
}

    .slick-prev:before, .slick-next:before {
        color: gray;
    }

    .slick-prev::before {
        font-family: "Font Awesome 5 Free";
        content: "\f053";
        font-weight: 900;
        font-size: 30px;
        color: black;
    }

    .slick-next::before {
        font-family: "Font Awesome 5 Free";
        content: "\f054";
        font-weight: 900;
        font-size: 30px;
        color: black;
    }
.sliderCommon .slide {
    cursor: pointer;
    border: solid 1px;
    margin: 0 0 5px 5px;
    text-align: center;
}

/*.slick-current{
    background-color: red;
}*/
.slideBgColored, .slick-current {
    background-color: darkorange;
}