@model IEnumerable<FlyAir.Models.IdentityEntities.Role>
@{
    ViewData["Title"] = "ViewRoles";
}



<div class="container">
    <h3>View Roles</h3>
    <div>
        <table class="table table-striped">
            <thead>
                <tr style="font-weight: bold;">
                    <td>Id</td>
                    <td>Name</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var role in Model)
                {
                    <tr>
                        <td>@role.Id</td>
                        <td>@role.Name</td>
                    </tr>
                }
            </tbody>
        </table>
        <div>
            <a asp-controller="Account" asp-action="AddRole" class="btn btn-info">Add Role</a>
        </div>
    </div>
</div>