@model FlyAir.Models.BookingModels.BookingVM
@{
    ViewData["Title"] = "BookingConfirmed";
}

<h2>BookingConfirmed</h2>

<div>@Model.Booking.ID</div>
<div>@Model.Booking.GoFlight.OriginLocID</div>
<div>@Model.Booking.GoFlight.DestLocID</div>

@if (Model.BookingNonMembers != null)
{
    foreach(var guest in Model.BookingNonMembers)
    {
        <div>@guest.Name</div>

    }
}


<div>
    <a asp-controller="Home" asp-action="Index" class="btn btn-info">BACK TO HOME</a>
</div>